<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1034517869976-41a8k23kect5g9pr94qdjh1c5577ecei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034517869976-41a8k23kect5g9pr94qdjh1c5577ecei</string>
	<key>API_KEY</key>
	<string>AIzaSyD5jl7CM7n7pF5f9FJcfpOhBWCZra2LgTg</string>
	<key>GCM_SENDER_ID</key>
	<string>1034517869976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FenixDesignz.FirebaseEmailLoginDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-emaillogindemo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-emaillogindemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034517869976:ios:792bd350da2abba6</string>
	<key>DATABASE_URL</key>
	<string>https://fir-emaillogindemo.firebaseio.com</string>
</dict>
</plist>
